<h2>
    <strong>Bước 1: Làm quen với các nốt nhạc</strong>
</h2>
<iframe width="900" height="500" src="https://www.youtube.com/embed/R36yRq5NIpU" frameborder="0" allow="autoplay; encrypted-media"
    allowfullscreen></iframe>
<p>
    Những nốt nhạc có thể trông sẽ rất lạ khi mới bắt đầu, hãy thử nghĩ chúng giống như những chứ cái đầu tiên mà bạn học khi
    mới bước vào lớp 1. Cảm giác tò mò, khó khăn khi bạn viết hay đọc những con chữ đầu tiên, chắc hẳn rất khó quên đúng
    không nào. Những nốt nhạc cũng giống như vậy. Đó là những con chữ ABC của âm nhạc. Với một sự tập trung luyện tập và
    chăm chỉ, bạn hoàn toàn có thể đọc viết một cách thành thạo, y như cách mà bạn đang đọc những thông tin này. Chúng ta
    hãy bắt đầu với một âm thanh khá quen thuộc, được gọi là “The sound of music” – Do – Re – Mi – Fa – Sol – La – Si – Do
    . Bạn biết giai điệu này úng không? Những nốt nhạc được kí hiệu bằng các chữ cái A B C D E F G. Mỗi nốt nhạc sẽ mang
    một tần số khác nhau. Khi đánh chúng ta sắp xếp chúng lại, ta sẽ thành một giai điệu giống như một câu văn. Nhiều câu
    văn ghép lại thì thành 1 đoạn đúng không nào? Còn nhiều đoạn ghép lại sẽ thành 1 bản nhạc. Lý thuyết đơn giản như vậy
    thôi, bạn đã thấy phần nào âm nhạc rất hấp dẫn chưa?
</p>
<h2>
    <strong>Bước 2: Làm quen với các nốt nhạc trên đàn Piano</strong>
</h2>
<p>Trên đàn Piano tiêu chuẩn gồm 88 phím, đó chính là 88 nốt, tương đương 7 quãng 8. Mỗi quãng 8 đàn piano gồm 12 phím trong
    đó có 7 nốt trắng và 5 nốt đen. Khi học Piano, bạn chỉ cần hiểu và nhớ 1 quãng tám thôi, là bạn có thể nhớ toàn bộ nốt
    trên phím đàn.
</p>
<div class="hinh">
    <img src="../../assets/guide1.jpg" alt="">
    <p>12 phím có trong 1 quãng 8 và tên gọi của từng nốt</p>
</div>
<iframe width="900" height="500" src="https://www.youtube.com/embed/kvES8VtSNZY" frameborder="0" allow="autoplay; encrypted-media"
    allowfullscreen></iframe>
<p>
    Những nốt đen được sử dụng để chơi các nốt thăng (#) hoặc nốt giáng (b). Chúng thường xuất hiện ở các nhóm 2 hoặc 3 nốt.
</p>
<h2>
    <strong>Bước 3: Chơi những nốt nhạc đầu tiên Do-Re-Mi</strong>
</h2>
<p>
    Vậy là bạn đã biết được những nốt nhạc và vị trí của chúng, hãy áp dụng chúng để chơi những giai điệu đầu tiên.
</p>
<div class="hinh">
    <img src="../../assets/guide2.jpg" alt="">
    <p>
        Hình ảnh này chỉ ra những nốt nhạc sẽ được mô phỏng lại trên đàn Piano thế nào.
    </p>
</div>
<iframe width="900" height="500" src="https://www.youtube.com/embed/dinfVS9g8hM" frameborder="0" allow="autoplay; encrypted-media"
    allowfullscreen></iframe>
<p>
    Hãy xem kĩ video ở trên và bạn có thể bắt đầu đi lên hoặc đi xuống phím đàn để dần quen với các các nốt nhạc trên đàn Piano.
</p>
<h2>
    <strong>Bước 4: Hãy chơi một giai điệu khó hơn</strong>
</h2>
<iframe width="900" height="500" src="https://www.youtube.com/embed/_NAW5fHx6l0" frameborder="0" allow="autoplay; encrypted-media"
    allowfullscreen></iframe>
<p>
    Nào giờ chúng ta sẽ đến với một bản nhạc khó hơn, đó là bài hát Jingle Bells. Xem kĩ video và để ý mọi thứ có trong bản nhạc.
    Nhịp 4/4 nghĩa là 4 phách trong một ô nhịp (4 nốt đen). Hãy đến với bước tiếp theo để biết cách đọc nốt trong sheet nhạc.
</p>
<h2>
    <strong>Bước 5: Nốt nhạc và Timing</strong>
</h2>
<div class="hinh">
    <img src="../../assets/guide3.jpg" alt="">
</div>
<br>
<iframe width="900" height="500" src="https://www.youtube.com/embed/3SFsghJ3gmw" frameborder="0" allow="autoplay; encrypted-media"
    allowfullscreen></iframe>
<p>
    Trong một ô nhịp 4/4: Một nốt tròn (whole) có giá trị bằng 4 phách Một nốt trắng (half) có giá trị bằng nửa nốt tròn, bằng
    2 phách …. Tương tự như vậy bạn cứ chia nhỏ ra, bạn sẽ có độ dài ngân của tất cả các nốt trong âm nhạc.
</p>
<h2>
    <strong>Bước 6: Kết nốt các nốt nhạc</strong>
</h2>
<iframe width="900" height="500" src="https://www.youtube.com/embed/7BWNywN8gQ4" frameborder="0" allow="autoplay; encrypted-media"
    allowfullscreen></iframe>
<p>
    Ở khuông nhạc đầu tiên của sheet nhạc có 3 nốt Mi. 2 nốt đầu tiên là nốt đen và nốt còn lại là nốt trắng. Hãy tiếp tục tập
    luyện cho đến khi bạn có thể chơi đúng và mượt mà đoạn trên là bạn đã có thể quen dần với nốt nhạc và trường độ.
</p>
<h2>
    <strong>Bước 7: Review và tập luyện</strong>
</h2>
<iframe width="900" height="500" src="https://www.youtube.com/embed/Fbhj_CXGLWs" frameborder="0" allow="autoplay; encrypted-media"
    allowfullscreen></iframe>
<p>
    Hãy xem lại các bước từ 1 đến 6 và tiếp tục luyện tập cho đến khi bạn có thể chơi được Jingle Bells. Khi bạn cảm thấy tự
    tin với nốt nhạc và các kí hiệu trên Piano, bạn có thể tập chơi những bài hát khác mà yêu cầu cả 2 tay.
</p>
<p>
    Source:
    <a href="https://hocgiday.vn/bai-viet/7-buoc-hoc-dan-piano-cho-nguoi-moi-bat-dau">https://hocgiday.vn/bai-viet/7-buoc-hoc-dan-piano-cho-nguoi-moi-bat-dau</a>
</p>