.form {
    text-align: left;
    mat-form-field {
        margin: 10px;
    }
    .groupTitle {
        font-size: 15px;
        color: rgb(63, 63, 241);
    }
    .actionBtn {
        width: 200px;
        margin: auto;
    }
}