<div class="container">
  <div class="sideContent">
    <div class="noteInfo">
      <app-note-info></app-note-info>
    </div>
    
    <div class="panel">
      <button *ngIf='access' class="saveBtn btn btn-primary" data-toggle="modal" data-target="#mySaveModal">SAVE</button>
      <button *ngIf='!access' matTooltip="Please LOGIN or SIGNUP to save" class="disableBtn btn btn-primary" data-toggle="modal" data-target="#mySaveModal">SAVE</button>
      <button class="playBtn btn btn-primary" (click)="play()">
        <i class="far fa-play-circle fa-2x"></i>
      </button>
      
    </div>
  </div>

  <div id="notation-component">
    <app-notation></app-notation>
  </div>

  <div id="keyboard-component">
    <app-keyboard (keyPlayed)="handleKeyPlayed($event)"></app-keyboard>
  </div>

  <div id="mySaveModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Save this song</h4>
        </div>
        <div class="modal-body">
          <mat-dialog-content>
            <mat-form-field style="width: 100%">
              <input matInput [(ngModel)]="songAdding.Name" placeholder="Enter Name">
            </mat-form-field>
          </mat-dialog-content>
        </div>
        <div class="modal-footer">
          <button *ngIf="songAdding.Name !== ''" type="button" class="disableBtn btn btn-primary" data-dismiss="modal"  (click)="QuickSave()">QuickSave</button>
          <button *ngIf="songAdding.Name === ''" type="button" class="btn btn-primary" data-dismiss="modal"  (click)="QuickSave()">QuickSave</button>
          
          <button *ngIf="saved" type="button" class="disableBtn btn btn-primary" data-dismiss="modal" (click)="addSong()">Confirm</button>
          <button *ngIf="!saved" type="button" class="btn btn-primary" data-dismiss="modal">Confirm</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>